<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/abc.css">
</head>
<body>
    <%-include('common/nav') %>
    <hr>
    <h1 class="myheading">Welcome to Shopping.com</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt possimus amet accusamus rerum quos velit 
        aliquid minus aperiam eveniet? Explicabo, magnam at aut ad quisquam molestiae error quaerat culpal. Lorem ipsum dolor, 
        sit amet consectetur adipisicing elit. Error praesentium ex molestiae reprehenderit temporibus vitae officiis distinctio. 
        Asperiores perferendis dolores cumque enim, voluptate minima laborum, nesciunt provident ipsam repellat magnam!
    </p>
</body>
</html>